.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


* {
  transition: all 0.2s ease-in-out;
}

input,
textarea,
select {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}